* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

/* HERO */
.hero {
    position: relative;
    width: 100%;
    height: 100dvh;
    min-height: 500px;
    overflow: hidden;
}

/* VIDEO */
.hero-video {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.bottom-gradient{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(to bottom,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.9)100%);

    pointer-events: none;
}

.header{
    display: block;
    position: absolute;
    inset: 0;
    top: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-self: center;
    color: white;
    padding-bottom: 10px;
}

.main-head{
    font-size: 22px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sub-head{
    margin: 10px 0 ;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    
}

.google{
    height: 30px;
    width: 30px;
    display: inline;
    margin: 12px 3px 0 3px;
    object-fit: cover;
}

.apple{
    height: 60px;
    width: 60px;
    display: inline;
    object-fit: cover;
    padding: 0 6px;
}

.text{
    padding: 9px;
    display: inline;
}

.redirection{
    display: flex;
    position: absolute;
    top: 480px;
    left: 38%;
    text-align: center;
    justify-self: center;
    
}

.play-store, 
.apple-store{
    display: inline-flex;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 25px;
    padding: 3px 5px;
    transition: transform .2s;
}

.play-store:hover,
.apple-store:hover{
    transform: scale(1.1);
}

p{
    font-size: 10px;
}

